caption{color:orange;font-size:13pt}
table{width:100%}
td#lev{width:48%}
td#prav{width:48%}
h3{color:#055;font-size:16pt;text-align:center;}
figcaption{font-size:15pt;color:#5fa;}
img{text-align:center}
.photo{text-align:center}
body{background:#08f}
td{color:#bdb;font-size:15pt;font-style:italic;font-family:serif}